<html>
	<head>
		<title><!-- ? website_title --></title>
		<link rel="stylesheet" type="text/css" href="<!-- ? template_root -->default.css">
		<link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="admin-panel">Login <img src="<!-- ? template_root -->pride-button.gif" class="pride-button"></img></div>
		<header class="main">
			<img src="<!-- ? template_root -->profile-photo.jpg" class="profile-photo"></img>	
			<h1><!-- ? website_title --></h1>
			<input type="text" class="search" placeholder="Search..."></input>
		</header>
		<nav class="main">
			<ul>
				<!-- NAV_HERE -->
				<!-- START NAV_ITEM -->
				<li><a href="<!-- NAV_URL -->" target="<!-- NAV_TARGET -->"><!-- NAV_TEXT --></a></li>
				<!-- END NAV_ITEM -->
			</ul>
		</nav>
		<article class="main">
			<nav>
				<!-- MENU_HERE -->
				<!-- START MENU_ITEM -->
				<div class="side-box">
					<h1><!-- MENU_TITLE --></h1>
					<!-- MENU_HTML -->
				</div>
				<!-- END MENU_ITEM -->
			</nav>
			<div class="posts">
				<!-- POST_HERE -->
				<!-- START ARTICLE_ITEM -->
				<div class="post">
					<header class="post">
						<h1><!-- ARTICLE_TITLE --></h1>
					</header>
					<article class="post">
						<!-- ARTICLE_TEXT -->
					</article>
					<footer class="post">
						<div class="text">Posted by</div>
						<div class="author"><!-- ARTICLE_AUTHOR --></div>
						<div class="text">on</div>
						<div class="timedate"><!-- ARTICLE_TIME --></div>
						<div class="comment-link"><!-- COMMENTS_LINK --></div>
					</footer>
				</div>
				<!-- END ARTICLE_ITEM -->
			</div>
		</article>
		<footer class="main">
			<div class="copyright"><!-- ? COPYRIGHT --></div>
		</footer>
	</body>
</html>
